In [49]:
import numpy as np
import pandas as pd
df_oof = pd.read_csv('../input/tweet-sentiment-extraction/oof_train.csv')
df_oof.head()

,textID,text,selected_text,sentiment,oof_selected_text
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"i`d have responded, if i were going"
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad
2,088c60f138,my boss is bullying me...,bullying me,negative,bullying me...
3,9642c003ef,what interview! leave me alone,leave me alone,negative,leave me alone
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"****,"

In [50]:
def jaccard(str1, str2): 
    a = set(str1.lower().split()) 
    b = set(str2.lower().split())
    if (len(a)==0) & (len(b)==0): return 0.5
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [51]:
for k in range(df_oof.shape[0]):
    df_oof.loc[k, 'jaccard_diff'] = jaccard(str(df_oof.loc[k, 'selected_text']), str(df_oof.loc[k, 'oof_selected_text']))

In [52]:
type(df_oof.loc[7, 'selected_text'])

str

In [53]:
df_oof.head()

,textID,text,selected_text,sentiment,oof_selected_text,jaccard_diff
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"i`d have responded, if i were going",1.000000
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad,1.000000
2,088c60f138,my boss is bullying me...,bullying me,negative,bullying me...,0.333333
3,9642c003ef,what interview! leave me alone,leave me alone,negative,leave me alone,1.000000
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"****,",0.333333

In [54]:
df_oof_bad = df_oof.query('jaccard_diff < 0.5')

In [55]:
df_oof_bad.query('sentiment=="neutral"').count()

textID               174
text                 173
selected_text        173
sentiment            174
oof_selected_text    174
jaccard_diff         174
dtype: int64

In [56]:
df_oof['sentiment'].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [57]:
df_oof_bad['sentiment'].value_counts().values

array([4142, 3777,  174])

In [58]:
df_oof['sentiment'].value_counts().values/df_oof_bad['sentiment'].value_counts().values
#positiveの正答率が低い

array([ 2.68421053,  2.27217368, 44.7183908 ])

In [59]:
#以下各sentimentでjaccardの成績がよくないものを分析する。
df_positive_with_bad_jac = df_oof[(df_oof['sentiment']=='positive') & (df_oof['jaccard_diff'] < 0.4)]
df_positive_with_bad_jac.to_csv('../output/df_positive_with_bad_jac.csv')

In [60]:
df_oof.columns

Index(['textID', 'text', 'selected_text', 'sentiment', 'oof_selected_text',
       'jaccard_diff'],
      dtype='object')

In [61]:
df_negative_with_bad_jac = df_oof[(df_oof['sentiment']=='negative') & (df_oof['jaccard_diff'] < 0.4)]
df_negative_with_bad_jac.to_csv('../output/df_negative_with_bad_jac.csv')

In [62]:
df_neutral_with_bad_jac = df_oof[(df_oof['sentiment']=='neutral') & (df_oof['jaccard_diff'] < 0.4)]
df_neutral_with_bad_jac.to_csv('../output/df_neutral_with_bad_jac.csv')